<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app>
  <head>
    <meta charset="utf-8" />
    <title>Exercice 5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

  </head>
  <body>
    <button class="text1" ng-click="show=true; hide=true">Paragraphe 1</button>
    <button class="text2" ng-click="show=false; hide=false">Paragraphe 2</button>
    <p ng-show="show">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan id urna quis porta. Praesent elit arcu, euismod at mauris ac, lacinia tincidunt ante. Aenean elementum dolor auctor, interdum magna in, congue sapien. Quisque fermentum urna facilisis vulputate dictum. Donec magna diam, fringilla non cursus nec, facilisis eget diam. Nunc feugiat luctus est, id egestas eros consequat sed. Donec ut neque pellentesque magna hendrerit mollis. Aenean placerat, odio maximus tincidunt sodales, quam ex rutrum metus, nec tincidunt ligula orci tincidunt lacus. Praesent non velit quis dui laoreet consectetur vel ut turpis. Quisque malesuada, orci a malesuada laoreet, libero dolor porttitor dui, a venenatis dui nulla ut turpis. In tristique mi leo, sed imperdiet est congue id. Aliquam rhoncus metus ex, sit amet convallis diam viverra non. Mauris commodo odio turpis, nec faucibus odio vestibulum non.
    </p>
    <p ng-hide="hide">
      Duis dapibus ullamcorper diam, vitae fringilla purus consectetur sed. Donec convallis suscipit erat eget ultricies. Praesent mollis mi vel leo laoreet venenatis vitae ac quam. Aliquam aliquam nunc a ultrices volutpat. Praesent imperdiet mauris ligula, non facilisis nisi lacinia et. Sed quis metus sagittis, dapibus mauris in, vulputate diam. Donec a enim pretium purus pretium iaculis at non lacus. Morbi a ipsum porttitor, sagittis enim sed, luctus nisi. Morbi mollis ultrices mi eget rhoncus. Integer ultrices mattis lectus at lacinia. Suspendisse efficitur varius lectus eu mollis. Duis vel convallis tortor. Etiam ac convallis quam.
    </p>
  </body>
</html>
